
/*Sidebar CSS - Base Template*/
.sidebar {
    width: 230px;
    position: fixed;
    z-index: 1;
    background: grey;
    overflow-x: hidden;
    padding: 8px 0;
}
.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidebar a:hover {
    color: white;
}

/*Sidebar CSS - Username/Password Template*/
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/*Sidebar CSS Submit button*/
.button {
    display       : inline-block;
    border-radius : 5%;          
    font-size     : 14pt;       
    text-align    : center;      
    cursor        : pointer;     
    padding       : 12px 12px;   
    background    : rgba(102, 102, 255, 0.84);     
    color         : rgba(255, 255, 255, 0.72);     
    line-height   : 1em;         
    transition    : .3s;         
    box-shadow    : 7px 7px 3px #666666;  
    border        : 2px solid rgba(102, 102, 255, 0.84);    
  }

  .button:hover {
    box-shadow    : none;       
    color         : rgba(102, 102, 255, 0.84);     
    background    : rgba(255, 255, 255, 0.72);     
  }


/*Top of page CSS - Base Template*/
.mainheader {
    outline: none;
    text-align:center;
    font-family:'Arvo', serif;
    color:white;
    font-size:24px;
    height:5%;
    width:100%;
    background-color: rgba(0,79,113,1);
}

/*Generic CSS for interior of the pages*/
.subheader {
    margin-left: 245px; /* sidebar width is 200 so I added 15 to give some whitespace */
    font-size: 28px;
    padding: 0px 10px;
}

.mainbody {
    margin-left: 245px; /* sidebar width is 200 so I added 15 to give some whitespace */
    font-size: 14px
}

/*Index/Home page CSS - Categories*/

.container {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (1fr)[2];
    grid-template-rows: repeat(2, 1fr);
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    width: 75vw;
    height: 75vh;

    margin-left: 245px; /* sidebar width is 200 so I added 15 to give some whitespace */
    padding: 0px 10px;
}

@media screen and (max-width: 60em) {
    .container {
        -ms-grid-rows: (1fr)[4];
        grid-template-rows: repeat(4, 1fr);
    }
}

.grid-1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    background:orange;
    font-family: "Garamond";
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 60em) {
    .grid-1 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 1;
        grid-row: 1;
    }
}

.grid-2 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row: 1;
    background:purple;
    font-family: "Garamond";
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 60em) {
    .grid-2 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 2;
        grid-row: 2;

    }
}

.grid-3 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 2;
    grid-row: 2;
    background:red;
    font-family: "Garamond";
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 60em) {
    .grid-3 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 3;
        grid-row: 3;
    }
}

.grid-4 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 2;
    grid-row: 2;
    background:green;
    font-family: "Garamond";
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 60em) {
    .grid-4 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 4;
        grid-row: 4;
    }
}

.callout {
    margin: 0;
}
/*This section is for the index specifically. May need its own css file. */
.meal_list_link {
    padding: 0;
    border: none;
    background: none;
    font-weight: bold;
}

.meal_list_link:hover {
    color: aqua;
}

/* This seciton is for recipe_display. May need its own CSS file. */
.dropdown-grid-1 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row: 1;
    font-family: "Garamond";
    font-weight: bold;
    text-align: center;
    margin: 1.5%
}

@media screen and (max-width: 60em) {
    .dropdown-grid-1 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 1;
        grid-row: 1;

    }
}

.dropdown-grid-2 {
    -ms-grid-column: 3;
    grid-column-start: 3;
    grid-column-end: 5;
    -ms-grid-row: 1;
    grid-row: 1;
    font-family: "Garamond";
    font-weight: bold;
    text-align: center;
    margin: 1.5%
}

@media screen and (max-width: 60em) {
    .dropdown-grid-2 {
        -ms-grid-column: 1;
        grid-column-start: 1;
        grid-column-end: 5;
        -ms-grid-row: 2;
        grid-row: 2;

    }
}
