<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ethical Eating</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <script></script>
</head>
<body>
    <header class="mainheader">
        <div>
            <h1 class=logo">Ethical Eating App</h1>
        </div>
    </header>
    <div class="sidebar">

     
        <form action= "/login.html" method="POST">
            <fieldset>
                <legend>LOGIN</legend>
                <fieldset>
                    <label>Username:</label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                </fieldset>
                <br />
                <fieldset>
                    <label>Password:</label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                </fieldset>
                <br />
                <input type="submit" value="Submit" />
            </fieldset>
        </form>
        <a href="/">Home</a>
        <a href="/recipe_search">Recipe Search</a>
        <a href="/create_recipe">Create Recipe</a>
        <a href="lucky.html">I'm Feeling Lucky!</a>
    </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>

