<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ethical Eating</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" href="data:,">
    <script></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
</head>

<body>
    <header class="mainheader">
        <div>
            <h1 class="logo">Ethical Eating</h1>
        </div>
    </header>
    <div class="sidebar">

        <!--Need to specify link for POST request-->
        <form action= "/login.html" method="POST">
            <fieldset>
                <legend>LOGIN</legend>
                <fieldset>
                    <label>Username:</label>
                        <input type="text" placeholder="Enter Username" name="username" required>
                </fieldset>
                <br />
                <fieldset>
                    <label>Password:</label>
                        <input type="password" placeholder="Enter Password" name="password" required>
                </fieldset>
                <br />
                <button type="submit" value="Submit" class="button">Submit</button>
            </fieldset>
        </form>
        <a href="/">Home</a>
        <a href="/create_recipe">Create Recipe</a>
        <a href="/lucky">I'm Feeling Lucky!</a>
        <a href="/search-recipe">Recipe Search</a>
    </div>
        {% block content %}
        {% endblock %}
</body>

</html>

