<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ethical Eating</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href="{{ url_for('static', filename='css/main.css') }}">
    <script></script>
</head>
<body>
    <header class="header">
        <div>
            <h1 class=logo">Ethical Eating App</h1>
        </div>
    </header>
    <div class="sidenav">
        <a href="/">Home</a>
        <a href="/meal_search">Meal Search</a>
        <a href="/create_recipe">Create Recipe</a>
    </div>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>

