{% extends "base.html" %}

{% block content %}
<body>
    <div class="container">
        <form class="grid-1 callout primary" action="/recipe_list" method="POST">
            <input class="meal_list_link_f" type ="submit" id = "Breakfast" name = "submit" value = "Breakfast">
            <div class="tooltip"><span class="tooltiptext">Click here to see a list of meals.</span></div>

        </form>

        <form class="grid-2 callout warning" action="/recipe_list" method="POST">
            <input class="meal_list_link_f" type ="submit" id = "Lunch" name = "submit" value = "Lunch">
        </form>

        <form class="grid-3 callout alert" action="/recipe_list" method="POST">
            <input class="meal_list_link_f" type ="submit" id = "Dinner" name = "submit" value = "Dinner">
        </form>

        <form class="grid-4 callout success" action="/recipe_list" method="POST">
            <input class="meal_list_link_f" type ="submit" id = "Dessert" name = "submit" value = "Dessert">
        </form>
    </div>
</body>

{% endblock %}