{% extends "base.html" %}

{% block content %}
<!--Back button: still have to add link for it-->
<a href = "#" class = "back_button">&#8249</a>

<h1 class="subheader">Recipe for {{ recipe_name }}</h1>

<div class="mainbody">
        {% for key, value in data.items() %}
        <ul class="list">
            {{ value }}
            <div class="div_button">
                <button>Ethical Issues</button>
                <button>Potential Alternatives</button>
            </div>
        </ul>
        {% endfor %}
</div>

{% endblock %}
