﻿{% extends "base.html" %}

{% block content %}
<div id=" general">
    <center>
        <body>
            <form action="/lucky" method="POST">
                <fieldset>
                    <fieldset>
                        <label>
                            Looking to spice up your life?
                            <br />
                            Look no further; press the button as many times as you'd like :)'
                            <br />
                            <input type="image" id="=" redbutton" src="redbutton.png" />
                        </label>
                    </fieldset>
                    <br />

                </fieldset>
            </form>
            <!--Populates this part of page with randomly generated recipe and ingredients related to recipe-->
            <h1 class="subheader">Recipe for {{ recipe_name }}</h1>

            <table class="mainbody">
                {% for key, value in data.items() %}
                <tr>
                    <td>
                        {{ value }}
                    </td>
                </tr>
                {% endfor %}
            </table>
        </body>
    </center>
</div>
{% endblock %}