{% extends "base.html" %}

{% block content %}
<div id=" general">
    <center>
        <body>
            <!--Will return a random recipe; not functional; JSON template TBD-->
            <form action="random.html" method="POST">
                <fieldset>
                    <fieldset>
                        <label>
                            Looking to spice up your life?
                            <br />
                            Look no further; press the button as many times as you'd like :)'
                            <br />
                            <input type="image" id="="redbutton" src="redbutton.png"/>
                        </label>
                    </fieldset>
                    <br />
                    
                </fieldset>
            </form>

        </body>
    </center>
</div>
{% endblock %}