<!DOCTYPE html>
<html>
    <head>

</head>

<p id="demo">Click me.</p>
<button onclick="myFunction">DO SOMETHING</button>



</html>

<script type="text/javascript"> 
    // document.getElementById('ethical-issues-btn').addEventListener("click", function(){
        
    //     console.log("anything")
    //     displayInfo()
    // })
    
    // function displayInfo(){
    //     $.ajax({
    //       url:"/display_info" ,
    //       type: "POST",
    //       dataType: "json" ,
    //       success: function(data){
    //         let displayDiv = document.getElementById();
    //         alert("worked twice")
    //         displayDiv.style.display = "block";
    //         $(info_display_test).replaceWith(data);
    //       }
    //     })
    // }
   
    function add(){
        let x = 9
        let y = 8
    }
    let sum = add()
  
     
        document.getElementById("demo").addEventListener("click", myFunction);
 
    function myFunction() {
    alert("FUCK")
      document.getElementById("demo").innerHTML = "YOU CLICKED ME!";
    }
    

    
</script>